GEMINI_API_KEY=tu_clave_gemini
GROQ_API_KEY=tu_clave_groq

# Supabase
SUPABASE_URL=https://ibfmsjppbwddzkuoxyag.supabase.co
SUPABASE_KEY=sb_secret_iwJXO2oxNzSVdVlULXDElw_hshpLnpN

# Pinecone
PINECONE_API_KEY=pcsk_7Hxb1N_Br6bbNVAEZUJCtcBrxwL13UVihqxEzDcyeEdaFrXFZL2tmP2dViYcBd7rxE8Jr6
PINECONE_INDEX=sgi-documentos

# Google Drive (pegar contenido del JSON de credenciales)
GOOGLE_CREDENTIALS_JSON=
